#header {
 display:none;
}
 
#page #page-bgtop #page-bgbtm #sidebar{
 display:none;
}
 
#page #page-bgtop #page-bgbtm #content #post #print-button{
 display:none;
}

#page #page-bgtop #page-bgbtm #content #post #notice{
 display:none;
}
 
#footer-bgcontent {
 display:none;
}

p{
	line-height: 0%;
}

table
{
 text-align:center;
}
